@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

  
  [class*=" icon-"],
  [class^="icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-close:before {
    content: "\f00d";
  }
  .icon-remove:before {
    content: "\f00d";
  }
  .icon-times:before {
    content: "\f00d";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-github:before {
    content: "\f09b";
  }
  .icon-bars:before {
    content: "\f0c9";
  }
  .icon-navicon:before {
    content: "\f0c9";
    font-size: 1.5em;
  }
  .icon-reorder:before {
    content: "\f0c9";
  }
  .icon-envelope:before {
    content: "\f0e0";
  }
  .icon-linkedin:before {
    content: "\f0e1";
  }
  ::selection {
    background: var(--yellow);
    color: #323232;
  }

  body {
    color: var(--text-black);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
  }
  p {
    margin: 0 0 17px;
    line-height: 1.3em;
  }
  body b,
  body strong {
    font-weight: 700;
  }
  .title-name,
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-size: 3.3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.35em;
    letter-spacing: -1px;
  }
  h5 {
    font-size: 1.15em;
    margin-top: 0.25em;
  }
  h6 {
    font-size: 0.8em;
    font-weight: 700;
  }
  .container-fluid {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
  }

  .title-name-container {
    text-align: right;
  }
  .title-name {
    font-size: 4em;
    border-bottom: 8px solid #7f1d1d;
    line-height: 70px;
    padding-bottom: 5px;
  }
  .title-tagline {
    font-size: 1.25em;
    margin-top: 0.5em;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--dark-grey);
  }
  .tag {
    color: var(--dark-grey);
  }

  @media (max-width: 350px) {
    .big_banner_text,
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.2em;
    }
    .undertitle {
      font-size: 0.95em;
    }
  }
  :root {
    --text-black: #1d2330;
    --yellow: #fee82d;
    --dark-grey: #494b50;
    --mid-grey: #9296a0;
    --light-grey: #f4f4f4;
  }
  .row-even .col-label {
    background: #f8f8f8;
  }
  .row-even .col-content {
    background: #fcfcfc;
  }
  .row-odd .col-label {
    background: #fbfbfb;
  }
  .row-odd .col-content {
    background: #fff;
  }
  .col-label {
    text-align: right;
  }
  #intro .col-label {
    text-align: center;
  }
  .col-content {
    padding: 2em;
  }
  .front-content-wrapper {
    max-width: 900px;
  }
  #pic-of-neil {
    border-radius: 50%;
    width: 10em;
    margin: auto;
  }
  .social-icons {
    margin: auto;
    text-align: center;
    min-height: 60px;
  }
  .social-icons-small {
    margin-top: 0.25em;
  }
  .social-icons a {
    display: inline-block;
    margin: 0 3px;
    width: 60px;
    height: 60px;
    line-height: 57px;
    color: #333;
    border: 2px solid #333;
    text-align: center;
    font-size: 1.3em;
    border-radius: 60px;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .social-icons-small a {
    display: inline-block;
    margin: 0 3px;
    color: var(--mid-grey);
    text-align: center;
    font-size: 1em;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .social-icons a:hover,
  .social-icons-small a:hover {
    border-color: var(--yellow);
    color: var(--yellow);
    text-decoration: none;
}
  