$family-sans-serif: "Inter", sans-serif
$family-monospace: "JetBrains Mono", monospace
$title-family: "Space Grotesk", sans-serif
$code: $primary
$title-weight: 500
$navbar-background-color: $background
$navbar-item-hover-background-color: $background
$navbar-item-hover-color: $secondary
