{{ define "main" }}
<body>
    <div class="container-fluid">
        <div class="md:flex">
            <div class="sm:w-full md:w-1/6 h-fit">
                <div class="sm:w-1/3 md:w-full :flex-growlabel my-auto mx-auto h-64 bg-gray-100">
                    <img 
                        src="/files/images/thomas_headshot.jpg" 
                        id="pic-of-thomas"
                        class="rounded-full sm:w-1/2 md:3/4 mx-auto"
                        alt="Picture of Thomas Seropian" title="Thomas Seropian">
                </div>
            </div>
            <div class="sm:w-full md:w-5/6 h-fit pt-8 pr-8">
                <div class="flex flex-row-reverse">
                    <div class="title-name-container h-fit">
                        <div class="title-name">Thomas Seropian</div>
                        <div class="title-tagline">Tech, startups, coffee and noisy music.</div>
                        <div class="social-icons-small">
                            <a href="https://twitter.com/thoomyorke" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                            <a href="https://uk.linkedin.com/in/tseropian" target="_blank"><i class="fa-brands fa-linkedin"></i></span></a>
                            <a href="https://github.com/tseropian" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                            <a href="https://last.fm/user/follow_the_way" target="_blank"><i class="fa-brands fa-square-lastfm"></i></a>
                            <a href="mailto:thomas@seropian.io" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="md:flex bg-gray-100">
            <div class="sm:w-full md:w-1/6 h-fit text-right p-4">
                <h3>About me</h3>
            </div>

            <div class="sm:w-full md:w-5/6 pt-3 pl-4 bg-white">
                    <p>
                        I am a software engineer with 15 years of experience building tech solutions across several industries with a strong entrepreneurial focus. I am equally comfortable with hands-on delivery (i.e. writing code) and managing engineering teams (i.e. helping other developers write code).
                    </p>
                    <p>
                        I help organisations embrace new technologies to solve challenging real-world problems and launch successful products that customers love.
                    </p>
                    <p>
                        <em>Services:</em>
                        <ul class="list-disc pl-8">
                            <li>Software engineering &amp; Technical Architecture.</li>
                            <li>Team management &amp; Agile delivery.</li>
                            <li>Design &amp; Development.</li>
                            <li>Research &amp; Prototyping.</li>
                            <li>Cyber Security Consulting.</li>
                            <li>Training &amp; Capacity Building.</li>
                        </ul>   
                    </p>
                    <p>
                        <em>Tech stack:</em> Serverless, AWS, Node.js, TypeScript, React, GraphQL, Microservices, Coffee, Pencils
                    </p>
            </div>
        </div>

        <div class="md:flex bg-gray-100">
            <div class="sm:w-full md:w-1/6 pr-4 pt-2 pb-2 text-right">
                <h3>CV</h3>
            </div>
            
            <div class="sm:w-full md:w-5/6 pt-3 pl-4 bg-white">
                <p>
                    <a href="/files/CV_Seropian_Thomas_202207.pdf">Download my resume (Updated Jul. 2022)</a>
                </p>
            </div>
        </div>

        <div class="md:flex bg-gray-100">
            <div class="sm:w-full md:w-1/6 h-fit p-8 text-right">
                <h3>Links </h3>
            </div>
            
            <div class="sm:w-full md:w-5/6 col-content bg-white">

                    <ul class="list-disc">
                        <li><a href="https://followtheway.info">Follow The Way: my photoblog</a></li>
                        <li><a href="https://freshnewsound.org">A weekly musical newsletter</a></li>
                        <li><a href="https://notsaved.org">A brain dump blog</a></li>
                        <li><a href="https://todayilearned.cc">My wikipedia searches</a></li>
                        <li><a href="https://claptoncfc.co.uk">Clapton Community Football Club</a></li>
                        <li><a href="https://hoopcharts.xyz/">Nerdy NBA data visualisations.</a></li>
                    </ul>
            </div>
        </div>

        <div class="md:flex mb-4 bg-gray-100">
            <div class="sm:w-full md:w-1/6 h-fit p-8 text-right">
                <h3>Get in touch</h3>
            </div>
            
            <div class="sm:w-full md:w-5/6 col-content bg-white">
                <div class="social-icons">
                    <a href="https://twitter.com/tseropian" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://uk.linkedin.com/in/tseropian" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="mailto:thomas@seropian.io" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>

</body>
  

{{ end }}
